# Case Study on ANOVA

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Sales_data_zone_wise.csv')
df.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

In [7]:
df.describe()

           Zone - A      Zone - B      Zone - C      Zone - D
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06

# The mean sales generated by each zone.

In [9]:
mean_A=df['Zone - A'].mean()
mean_B=df['Zone - B'].mean()
mean_C=df['Zone - C'].mean()
mean_D=df['Zone - D'].mean()
print('Mean of Zone-A:',mean_A)
print('Mean of Zone-B:',mean_B)
print('Mean of Zone-C:',mean_C)
print('Mean of Zone-D:',mean_D)

Mean of Zone-A: 1540493.1379310344
Mean of Zone-B: 1755559.5862068965
Mean of Zone-C: 1772871.0344827587
Mean of Zone-D: 1842926.7586206896

# Total sales generated by all zones for each month

In [11]:
total=df.iloc[:,1:5].sum(axis=1)
total.columns = ['index', 'Total']
print('Total sales generated by all zones in each month:\n',total)

Total sales generated by all zones in each month:
 0     7022544
1     7152303
2     6475939
3     8174449
4     5995328
5     7151387
6     7287108
7     7816299
8     6703395
9     7128210
10    7032783
11    6111084
12    5925424
13    7155515
14    5934156
15    6506659
16    7149383
17    7083490
18    6971953
19    7124599
20    7389597
21    7560001
22    6687919
23    7784747
24    6095918
25    6512360
26    6267918
27    7470920
28    6772277
dtype: int64

# Check whether all the zones generate the same amount of sales.

In [13]:
import scipy.stats as stats
fvalue, pvalue = stats.f_oneway(df['Zone - A'], df['Zone - B'], df['Zone - C'], df['Zone - D'])
print('fvalue:',fvalue)
print('pvalue:',pvalue)
if pvalue>0.05:
    print("Accept Null Hypothesis \n All zones generate same amount of sales")
else:
    print('Reject null hypothesis \n All zones generate different amount of sales')

fvalue: 5.672056106843581
pvalue: 0.0011827601694503335
Reject null hypothesis
 All zones generate different amount of sales